body 
{
    margin-top: 50px;
    font-family: Tahoma, sans-serif;
    font-size: 1em;
}

table 
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

table td 
{
    padding: 10px;
}

table td:first-child 
{
    width: 25%;
    vertical-align: top;
    text-align: left;
}

table td:not(:first-child)
{
    width: 75%;
}

table input, textarea
{
    width: 100%;
}

footer p
{
    margin-top: 50px;
    text-align: center;
    font-size: 0.65em;    
}